<a href="https://colab.research.google.com/github/Clarison/Dataengineering/blob/main/dataendinpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install google-cloud-bigquery

In [5]:
from google.colab import auth
auth.authenticate_user()

In [6]:
project_id = 'lab7-381519'
dataset_id="7375"

In [7]:
from google.cloud import bigquery
client = bigquery.Client(project=project_id)
dataset_ref = client.dataset(dataset_id, project="lab7-381519")
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the BigQuery table you want to query
table_ref = client.dataset(dataset_id).table('customer')

# Construct a SQL query
query = """
    SELECT * FROM `lab7-381519.7375.customer` LIMIT 10;
"""

# Use the client object to submit the query and fetch the results
query_job = client.query(query)
results = query_job.result()

# Print the results
for row in results:
    print(row)

Row((1, 3, 'Kelly Key', 'Venus@adipiscing.edu', datetime.date(2017, 1, 4), '908-424-2890', datetime.date(1950, 5, 29), 'M', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((3, 3, 'Elvis Cardenas', 'Brianna@tellus.edu', datetime.date(2017, 1, 10), '459-375-9187', datetime.date(1950, 9, 30), 'M', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((305, 3, 'Brooke Munoz', 'William@montes.com', datetime.date(2017, 1, 12), '573-552-0754', datetime.date(1950, 11, 16), 'F', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((303, 3, 'Raya Hampton', 'Martina@malesuada.com', datetime.date(2017, 1, 8), '478-762-8984', datetime.date(1950, 8, 14), 'F', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((701, 3, 'Donovan Trevino', 'Miranda@eget.com', datetime.date(2017, 1, 10), '127-289-9961', datetime.date(1950, 9, 30), 'N', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((302, 3, 'Sacha Wall', 'Yvette@erat.org', datetime.date(2017, 1, 6), '433-102-9277', datetime.date(1950, 6, 29), 'F', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((304, 3, 'Belle Reyes', 'Sierra@sodales.net', datetime.date(2017, 1, 10), '930-000-5889', datetime.date(1950, 9, 30), 'F', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((301, 3, 'Alika Rivas', 'Yoshi@aliquam.us', datetime.date(2017, 1, 4), '021-443-0682', datetime.date(1950, 5, 13), 'F', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((2, 3, 'Clark Schroeder', 'Nora@fames.gov', datetime.date(2017, 1, 7), '032-732-6308', datetime.date(1950, 7, 30), 'M', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})
Row((4, 3, 'Rafael Estes', 'Ina@non.gov', datetime.date(2017, 1, 13), '576-640-9226', datetime.date(1950, 12, 1), 'M', 1950), {'customer_id': 0, 'home_store': 1, 'customer_first_name': 2, 'customer_email': 3, 'customer_since': 4, 'loyalty_card_number': 5, 'birthdate': 6, 'gender': 7, 'birth_year': 8})

In [ ]:
product_category_name_translation

In [13]:
import pandas as pd
df=pd.read_csv('product_category_name_translation.csv')

In [14]:
import pandas_gbq

In [15]:
# Set the name of your table and your Pandas DataFrame
table_name = 'product_category_name_translation'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 6732.43it/s]

In [35]:
df_customer=pd.read_csv('olist_customers_dataset.csv')

In [36]:
df_customer['customer_city'] = df_customer['customer_city'].str.title()
df_customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Sao Bernardo Do Campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Sao Paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Campinas,SP

In [37]:
df_customer=pd.read_csv('olist_customers_dataset.csv')

#set City to caps
df_customer['customer_city'] = df_customer['customer_city'].str.title()

# Set the name of your table and your Pandas DataFrame
table_name = 'olist_customers_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_customer, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 3246.37it/s]

In [21]:
df_geoloacation=pd.read_csv('olist_geolocation_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_geolocation_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_geoloacation, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 10205.12it/s]

In [22]:
df=pd.read_csv('olist_order_items_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_order_items_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 2843.60it/s]

In [23]:
df_geoloacation=pd.read_csv('olist_order_payments_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_order_payments_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_geoloacation, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 1992.54it/s]

In [24]:
df_geoloacation=pd.read_csv('olist_order_reviews_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_order_reviews_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_geoloacation, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 2685.21it/s]

In [25]:
df_geoloacation=pd.read_csv('olist_orders_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_orders_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_geoloacation, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 8507.72it/s]

In [26]:
df_geoloacation=pd.read_csv('olist_products_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_products_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_geoloacation, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 2779.53it/s]

In [27]:
df_geoloacation=pd.read_csv('olist_sellers_dataset.csv')
# Set the name of your table and your Pandas DataFrame
table_name = 'olist_sellers_dataset'
# Upload your DataFrame to BigQuery
pandas_gbq.to_gbq(df_geoloacation, f'{dataset_id}.{table_name}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 2129.09it/s]